@model CadastroUMP.Dominio.Sinodal

@{
    ViewBag.Title = "Excluir";
}


<h3>Deseja realmente excluir?</h3>

<fieldset>
    <p @ViewBag.Mensagem</p>

    <div>
        @Html.DisplayNameFor(model => model.NomeSinodal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeSinodal)
    </div>
</fieldset>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" />
        |@Html.ActionLink("Cancelar", "Index")
    </p>
}
