


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h4>Você não pode excluí-   la, pois algum presidente está referenciado a esta Sinodal.</h4>
    </hgroup>
    <p>@Html.ActionLink("Voltar", "Index", "Sinodal")</p>
</body>
</html>