@model CadastroUMP.Dominio.Federacao

@{
    ViewBag.Title = "Excluir";
}

<h2>Excluir</h2>

<h3>Deseja realmente excluir?</h3>
<fieldset>
    <legend>Federacao</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NomeFederacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NomeFederacao)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Excluir" /> |
        @Html.ActionLink("Cancelar", "Index")
    </p>
}
